@model RateAnimal.Models.Animal

@{
    ViewData["Title"] = "Create";
}

<h2>Create New Animal</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUrl" class="control-label"></label>
                <br />
                <img class="figure-img" src="https://cataas.com/cat/cute" alt="" style="height:150px; width:280px;"/>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control"
                        asp-items="Html.GetEnumSelectList<RateAnimal.Models.Category>()">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Category" class="form-control"
                        asp-items="Html.GetEnumSelectList<RateAnimal.Models.Size>()">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />&nbsp;
                <a class="btn btn-default" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
